.post__publish-btn,
.clear__blog-btn{
  margin-bottom: 10px;
  width: 540px;
  height: 80px;
  border: none;
  font-weight: 400;
  font-family: 'Comfortaa', cursive;
  font-size: 32px; 
  line-height: 39px;
  color: #FFFFFF;
  border-radius: 30px;
  background: #0094FF;
  cursor: pointer;
  transition: 0.2s linear;
}
@media (max-width: 1199px) {
  .post__publish-btn,
  .clear__blog-btn{
  margin-bottom: 10px;
  width: 430px;
  height: 60px;
  font-size: 28px; 
  line-height: 30px;
}
}
@media (max-width: 767px) {
  .post__publish-btn,
  .clear__blog-btn{
  margin-bottom: 10px;
  width: 100%;
  height: 60px;
  font-size: 20px; 
  line-height: 20px;
}
}
.post__publish-btn:hover {
  background-color: transparent;
  border: 2px solid #0094FF;
  color: #0094FF;
}
.btn-red {
  margin-bottom: 50px;
  background: red;
}
.btn-red:hover {
  background-color: transparent;
  border: 2px solid red;
  color: red;
}
.post__publish-btn[disabled], .post__publish-btn[disabled]:hover {
  color: white;
  background-color: grey;
  border: none;
  cursor: not-allowed;
}
.color_red {
  color: red;
}

