@import "../styles/inputcol.css";
@import "../styles/outputcol.css";
@import "../styles/buttons.css";

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: 0 auto;
  font-family: 'Comfortaa', cursive;
}
.blog__container {
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
  width: 1150px;
}
.blog__container {
  padding-top: 102px;
}
@media (max-width: 1199px) {
  .blog__container {
    padding: 0 15px;
    padding-top: 80px;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .blog__container {
    flex-direction: column;
    justify-content: space-around;
    padding: 0 12px;
    padding-top: 50px;
    width: 300px;
  }
}



