@import "../styles/inputcol.css";
@import "../styles/outputcol.css";
@import "../styles/buttons.css";



body {
  width: 100%;
  margin: 0 auto;
  font-family: 'Comfortaa', cursive;
}
.blog__container {
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 100px;
  display: flex;
  width: 1150px;
}
.blog__container {
  padding-top: 102px;
}




