.blog__second-col {
  display: flex;
  flex-direction: column;
  width: 400px;
}
@media (max-width: 1199px) {
  .blog__second-col {
    max-width: 350px;
  }
}
@media (max-width: 850px) {
  .blog__second-col {
    max-width: 250px;
  }
}
@media (max-width: 767px) {
  .blog__second-col {
    margin: 0 auto;
    width: 100%;
  }
}
.blog__line-title {
  margin-bottom: 35px;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
}
@media (max-width: 1199px) {
  .blog__line-title {
    font-size: 30px;
    line-height: 38px;
  }
}
@media (max-width: 767px) {
}
.posts {
  display: flex;
  flex-direction: column-reverse;
}
.post {
  margin-bottom: 30px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-bottom: 1px solid gray;
}
.post__date-time {
  font-weight: bolder;
  color: blue;
}
.post__title {
  font-weight: bolder;
  word-wrap: break-word;
}
.post__text {
  word-wrap: break-word;
}